body {
    font-family: Helvetica, sans-serif;
    padding: 20px 40px;
}

#map {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 1250px;
    gap: 0.5rem;
}

#map svg {
    background: slategray;
}

#map #buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1rem;
    height: 600px;
}

#buttons .button {
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    text-align: center;
    cursor: pointer;
}

#buttons .button:hover {
    background-color: #e0e0e0;
    border-color: #aaa;
}

#buttons .button.reset-button {
    background-color: #d3d3d3;
    font-weight: bold;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 10px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
}

.tooltip-title {
    color: #000;
    font-size: 12px;
}

.legend-title {
    font-size: .7rem;
}

.legend-label {
    font-size: .7rem;
}

.county {
    transition: stroke 0.2s ease;
    stroke: black;
    stroke-opacity: 0;
}

.county:hover,
.county-selected,
.county-selected:hover  {
    stroke-opacity: 1;
}

.county:hover {
    stroke: #909090;
    cursor: pointer;
}

.county-selected:hover  {
    stroke: black;
}