body {
  font-family: Helvetica, sans-serif;
  padding: 20px 40px;
  background-color: slategray;
}

h1 {
  font-family: "Monoton", cursive;
  color: #755906;
  font-size: 5rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 0 0 5px #ffe414, 0 0 10px #ffe414, 0 0 20px #ffe414,
    0 0 40px rgb(255, 247, 0), 0 0 80px rgb(255, 247, 0);
}

h2 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  color: rgb(47, 5, 83);
}

#chart {
  width: 1300px;
  margin: 20px auto;
}

#view-container {
  position: relative;
  width: 1300px;
  margin: 0 auto;
}

#map,
#cartogram {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

#map.hidden,
#cartogram.hidden {
  opacity: 0;
  pointer-events: none;
}

.map-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  margin-top: 1rem;
  color: #1a1a1a;
}

.segmented-control-container {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 3px;
  left: 50%;
  z-index: 10;
  background: #e2e2e9;
  border-radius: 0.3rem;
  width: max-content;
  margin: 0px auto;
}

.segmented-label {
  margin-right: 8px;
  padding-left: 10px;
}

.segmented-controls {
  position: relative;
  display: flex;
  height: 1.3rem;
  width: max-content;
  padding: 2px;
}

.segmented-controls input {
  display: none;
}

.segmented-controls label {
  flex: 1;
  min-width: 80px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  font-size: 0.875rem;
  z-index: 2;
  transition: transform 0.3s ease;
}

.segmented-controls .slider {
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(50% - 4px);
  background: #fff;
  border-radius: 0.3rem;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.04), 0px 3px 8px rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease;
  z-index: 1;
}

#county:checked ~ .slider,
#select-choropleth:checked ~ .slider {
  transform: translateX(0);
}

#state:checked ~ .slider,
#select-cartogram:checked ~ .slider {
  transform: translateX(100%);
}

#county:checked + label,
#state:checked + label,
#select-choropleth:checked + label,
#select-cartogram:checked + label {
  font-weight: 600;
  transform: scale(1.05);
}

.separator {
  width: 1px;
  background-color: #ccc;
  margin: 0 0.5rem;
  height: 1.5rem;
}

#reset-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

#reset-button img {
  width: 12px;
  height: 12px;
  transition: filter 0.3s ease;
  padding-right: 10px;
}

#reset-button:hover img {
  filter: invert(34%) sepia(93%) saturate(7417%) hue-rotate(358deg)
    brightness(94%) contrast(101%);
}

#reset-button img {
  width: 12px;
  height: 12px;
  transition: filter 0.3s ease;
  padding-right: 10px;
}

#reset-button:hover img {
  filter: invert(34%) sepia(93%) saturate(7417%) hue-rotate(358deg)
    brightness(94%) contrast(101%);
}

#chart .tick line {
  color: lightgrey;
}

.hover-line {
  stroke: rgb(77, 77, 77);
  stroke-dasharray: 4;
}

#tooltip {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
  min-width: 160px;
  color: #333;
  pointer-events: none;
}

.tooltip-title {
  color: #000;
  font-size: 13px;
}

#tooltip ul {
  margin: 5px 0 0 0;
  padding-left: 20px;
}

.legend-title {
  font-size: 0.7rem;
}

.legend-label {
  font-size: 0.7rem;
}

.county {
  transition: stroke 0.2s ease;
  stroke: black;
  stroke-opacity: 0;
  cursor: pointer;
}

.county-hover,
.county-selected {
  stroke-opacity: 1;
}

.county-hover {
  stroke: #909090;
}

.piechart-hover {
  stroke: black !important;
}

.tile-hover {
  stroke: black;
}

.legend-disclaimer {
  font-size: 9.5px;
  font-style: italic;
  text-anchor: middle;
}

.disabled-overlay {
  fill: rgba(150, 150, 150, 0.5);
  pointer-events: all;
  cursor: not-allowed;
}
